<div class="container-fluid">
  <div class="pending-homepage row">
    <hr>
    <h2>Items Pending Your Approval</h2>
    <%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>
  </div>

  <div class="pending-homepage">
    <div class="">
      <p>dafsdfads</p>
    </div>
  </div>
</div>
